<%= form_for @invoice, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :order_refs, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :order_refs, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total_cost, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :total_cost, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :invoice_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :invoice_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_issued, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :date_issued, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_due, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :date_due, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :status, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tax, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :tax, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sent, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :sent, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :manual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :purchase_order_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :purchase_order_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comment, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :comment, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :type, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  invoices_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
