<p id="notice"><%= notice %></p>

<p>
  <strong>Order refs:</strong>
  <%= @invoice.order_refs %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @invoice.total_cost %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @invoice.invoice_number %>
</p>

<p>
  <strong>Date issued:</strong>
  <%= @invoice.date_issued %>
</p>

<p>
  <strong>Date due:</strong>
  <%= @invoice.date_due %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invoice.status %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @invoice.tax %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @invoice.sent %>
</p>

<p>
  <strong>Manual:</strong>
  <%= @invoice.manual %>
</p>

<p>
  <strong>Purchase order number:</strong>
  <%= @invoice.purchase_order_number %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @invoice.comment %>
</p>

<p>
  <strong>Type:</strong>
  <%= @invoice.type %>
</p>

<p>
  <strong>Account:</strong>
  <%= @invoice.account %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
