<%= form_for @stock, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :stock_level, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :stock_level, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :storage_location, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :storage_location, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :weight, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :weight, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :width, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :width, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :length, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :length, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :depth, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :depth, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  stocks_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
