<%- model_class = OrderPackPackage -%>
<div class="page-header">
  <h1><%=t '.title', :default => OrderPackPackage %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:origin) %></th>
      <th><%= model_class.human_attribute_name(:destination) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:history) %></th>
      <th><%= model_class.human_attribute_name(:waybill) %></th>
      <th><%= model_class.human_attribute_name(:total_pieces) %></th>
      <th><%= model_class.human_attribute_name(:piece) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @order_pack_packages.each do |order_pack_package| %>
      <tr>
        <td><%= order_pack_package.id %></td>
        <td><%= order_pack_package.origin %></td>
        <td><%= order_pack_package.destination %></td>
        <td><%= order_pack_package.status %></td>
        <td><%= order_pack_package.history %></td>
        <td><%= order_pack_package.waybill %></td>
        <td><%= order_pack_package.total_pieces %></td>
        <td><%= order_pack_package.piece %></td>
        <td><%=l order_pack_package.created_at, format: :long %></td>
        <td>
          <%= link_to order_pack_package_path(order_pack_package), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to order_pack_package_path(order_pack_package), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_pack_package_path,
            :class => 'btn btn-primary' %>
