<%- model_class = OrderPack -%>
<div class="page-header">
  <h1><%=t '.title', :default => OrderPack %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:width) %></th>
      <th><%= model_class.human_attribute_name(:length) %></th>
      <th><%= model_class.human_attribute_name(:depth) %></th>
      <th><%= model_class.human_attribute_name(:customs) %></th>
      <th><%= model_class.human_attribute_name(:customs_detail) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:customs_value) %></th>
      <th><%= model_class.human_attribute_name(:cost) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @order_packs.each do |order_pack| %>
      <tr>
        <td><%= order_pack.id %></td>
        <td><%= order_pack.weight %></td>
        <td><%= order_pack.width %></td>
        <td><%= order_pack.length %></td>
        <td><%= order_pack.depth %></td>
        <td><%= order_pack.customs %></td>
        <td><%= order_pack.customs_detail %></td>
        <td><%= order_pack.description %></td>
        <td><%= order_pack.quantity %></td>
        <td><%= order_pack.customs_value %></td>
        <td><%= order_pack.cost %></td>
        <td><%=l order_pack.created_at, format: :long %></td>
        <td>
          <%= link_to order_pack_path(order_pack), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to order_pack_path(order_pack), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_pack_path,
            :class => 'btn btn-primary' %>
