<p id="notice"><%= notice %></p>

<p>
  <strong>Error:</strong>
  <%= @order.error %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @order.total_cost %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Type:</strong>
  <%= @order.type %>
</p>

<p>
  <strong>Notify me:</strong>
  <%= @order.notify_me %>
</p>

<p>
  <strong>Notify receiver:</strong>
  <%= @order.notify_receiver %>
</p>

<p>
  <strong>Deliver by:</strong>
  <%= @order.deliver_by %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @order.batch %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Service:</strong>
  <%= @order.service %>
</p>

<p>
  <strong>Account:</strong>
  <%= @order.account %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @order.invoice %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Invoice line item:</strong>
  <%= @order.invoice_line_item %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
