<%= simple_form_for(@economy_price) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :weight %>
    <%= f.input :zone1 %>
    <%= f.input :zone2 %>
    <%= f.input :zone3 %>
    <%= f.input :zone4 %>
    <%= f.input :zone5 %>
    <%= f.input :zone6 %>
    <%= f.input :zone7 %>
    <%= f.input :zone8 %>
    <%= f.input :zone9 %>
    <%= f.input :zone10 %>
    <%= f.input :zone11 %>
    <%= f.input :zone12 %>
    <%= f.input :zone13 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
