<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @economy_price.weight %>
</p>

<p>
  <strong>Zone1:</strong>
  <%= @economy_price.zone1 %>
</p>

<p>
  <strong>Zone2:</strong>
  <%= @economy_price.zone2 %>
</p>

<p>
  <strong>Zone3:</strong>
  <%= @economy_price.zone3 %>
</p>

<p>
  <strong>Zone4:</strong>
  <%= @economy_price.zone4 %>
</p>

<p>
  <strong>Zone5:</strong>
  <%= @economy_price.zone5 %>
</p>

<p>
  <strong>Zone6:</strong>
  <%= @economy_price.zone6 %>
</p>

<p>
  <strong>Zone7:</strong>
  <%= @economy_price.zone7 %>
</p>

<p>
  <strong>Zone8:</strong>
  <%= @economy_price.zone8 %>
</p>

<p>
  <strong>Zone9:</strong>
  <%= @economy_price.zone9 %>
</p>

<p>
  <strong>Zone10:</strong>
  <%= @economy_price.zone10 %>
</p>

<p>
  <strong>Zone11:</strong>
  <%= @economy_price.zone11 %>
</p>

<p>
  <strong>Zone12:</strong>
  <%= @economy_price.zone12 %>
</p>

<p>
  <strong>Zone13:</strong>
  <%= @economy_price.zone13 %>
</p>

<%= link_to 'Edit', edit_economy_price_path(@economy_price) %> |
<%= link_to 'Back', economy_prices_path %>
