<%- model_class = OrderPackItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => OrderPackItem %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @order_pack_items.each do |order_pack_item| %>
      <tr>
        <td><%= order_pack_item.id %></td>
        <td><%= order_pack_item.quantity %></td>
        <td><%=l order_pack_item.created_at, format: :long %></td>
        <td>
          <%= link_to order_pack_item_path(order_pack_item), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to order_pack_item_path(order_pack_item), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_pack_item_path,
            :class => 'btn btn-primary' %>
