<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @address.company_name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @address.contact_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @address.job_title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @address.department %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @address.telephone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @address.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @address.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @address.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @address.zip %>
</p>

<p>
  <strong>Address group:</strong>
  <%= @address.address_group %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
