<%= form_for @zone, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :country, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :country, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :zone, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expresstime, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :expresstime, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :economytime, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :economytime, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iva, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :iva, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  zones_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
