<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_attachment.order %>
</p>

<p>
  <strong>Url:</strong>
  <%= @order_attachment.url %>
</p>

<%= link_to 'Edit', edit_order_attachment_path(@order_attachment) %> |
<%= link_to 'Back', order_attachments_path %>
