<%= form_for @express_price, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :weight, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :weight, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone2, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone3, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone4, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone4, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone5, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone5, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone6, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone6, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone7, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone7, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone8, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone8, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone9, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone9, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone10, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone10, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone11, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone11, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone12, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone12, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zone13, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zone13, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  express_prices_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
